body{

margin:0;
font-family:Arial;

}


header{

display:flex;
justify-content:space-between;
padding:20px;
background:black;
color:white;

}

nav a{

color:white;
margin:10px;
text-decoration:none;

}


.hero{

height:400px;
background:linear-gradient(pink,white);
text-align:center;
padding-top:100px;

}

.hero button{

padding:15px;
border:none;
background:black;
color:white;
cursor:pointer;

}


.layanan{

padding:40px;
text-align:center;

}


.container{

display:flex;
flex-wrap:wrap;
justify-content:center;

}


.card{

background:white;
width:200px;
margin:10px;
padding:20px;
box-shadow:0 0 10px gray;
cursor:pointer;

}


.card:hover{

background:pink;

}



.booking{

padding:40px;
text-align:center;

}


.booking input, select{

display:block;
margin:10px auto;
padding:10px;
width:200px;

}


.booking button{

padding:15px;
background:black;
color:white;
border:none;
cursor:pointer;

}


footer{

background:black;
color:white;
text-align:center;
padding:20px;

}
